<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ejs my page</title>
  </head>
  <body>
    <h1><%= name %></h1>
    <h2>
      <a href="<%= blog %>">blog</a>
    </h2>
    <hr>
    <p>
      I'm <%= job %>.
      <%= desc %>
    </p>
  </body>
</html>
